<%= stylesheet_link_tag "bootstrap" %>
<div class="container-fluid product" id="<%= element_dom_id(element) %>"<%= element_preview_code(element) -%>>
	<table class="table">
		  <thead>
		    <tr>
		      <th style="text-align:center"><%= link_to element.ingredient('spree_product').name, spree.product_path(element.ingredient('spree_product')) %></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td style="text-align:center"><%= link_to image_tag(element.ingredient('spree_product').images.first.attachment.url(:small)), spree.product_path(element.ingredient('spree_product')) %></td>
		    </tr>
		    <tr>
		      <td style="text-align:center"><%= element.ingredient('spree_product').price %></td>
		    </tr>
		  </tbody>
	</table>
</div>